<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8" />
<title>[XBRLFramework]</title>
<script src='https://code.angularjs.org/1.5.9/angular.min.js'></script>
<script src='./js/app.js'></script>
<script src='./js/ng-file-upload-shim.min.js'></script> 
<script src='./js/ng-file-upload.min.js'></script>
<style>

#xml {
	position:static;
	width: 150px;
	height: 80px;
	background-color: white;
	float: left;
}

#url{
	position:relative;
	width: 600px;
	height: 80px;
	background-color: white;
	float: left;
}

#json {
	position:static;
	padding-top: 110px;
	width: 800px;
	height: 500px;
	background-color: white;
	float: none;
}

#footnote {
	position: absolute;
	bottom: 0;
}

</style>
</head>
<body ng-controller="xbrlController">
	
	<header>
	<h4 style="font-family:verdana;">XBRL Parser: XML to Json</h4>
  	</header>
  	
  	<div id="xml">
	  	<p style="font-family:verdana;font-size:12px;">Select:</p>
	  	<button type="file" ngf-select="uploadFiles($file)">xBRL-XML Instance</button>
	  	<p style="font-family:verdana;font-size:12px;">{{name}}</p>
  	</div>
  	
  	<div id="url">
	  	<p style="font-family:verdana;font-size:12px;">or URL:</p>
	  	<input type="text" ng-model='user_url' size="53" ng-click="init()">
	  	<button ng-click="sendUrl()">ok</button>
  	</div>

	<div id="json" style="font-family:verdana;font-size:12px;">
		<textarea rows="23" cols="80">{{f}}</textarea>
 	</div>
 
 	<footer>
 	<p style="font-family:verdana;font-size:10px;">This XBRL-Parser version is based on <a href="http://www.xbrl.org/Specification/xbrl-json/CR-2017-05-02/xbrl-json-CR-2017-05-02.html" target="_blank">xBRL-JSON specification</a> (CR-02 May 2017).</p>
 	<p style="font-family:verdana;font-size:10px;">Attention: "Simple fact" order (in Json file) is not necessarily maintained as saved in XML file. In order to find it, search by its Id or Concept attrs.</p>
 	<p style="font-family:verdana;font-size:10px;">Developed by <a href="https://www.linkedin.com/in/marcioalexandre83/" target="_blank">Marcio Alexandre</a> from <a href="https://xbrlframework.wordpress.com/" target="_blank">XBRLFramework Group.</p>
 	</footer>
</body>
</html>